<div class='container' style="display: flex; flex-direction: column; align-items: center;">
  <div class="row">
    <%= link_to "Entrar como administrador", 
      login_administradors_path,
      class: 'btn btn-primary',
      style: "margin-bottom: 15px; width: 250px; height: 60px" 
    %>
  </div>
  <div class="row">
    <%= link_to "Entrar como operador",
      login_operadors_path,
      class: 'btn btn-primary',
      style: "margin-bottom: 15px; width: 250px; height: 60px"  
    %>
  </div>
  <div class="row">
    <%= link_to "Entrar como treinador",
      login_treinadors_path,
      class: 'btn btn-primary',
      style: "margin-bottom: 15px; width: 250px; height: 60px"  
    %>
  </div>
</div>