<div class="page-header">
  <%= link_to administrador_treinos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to administrador_treino_path(@treino), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar treino</h1>
</div>

<%= render 'form' %>
