<div class="page-header">
  <%= link_to operador_cliente_treino_clientes_path(@cliente), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to operador_cliente_treino_cliente_path(@cliente, @treino_cliente), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar Treino - <%= @cliente.nome %></h1>
</div>

<%= render 'form' %>
